In [1]:
import pandas as pd

In [7]:
csv_url = 'https://raw.githubusercontent.com/kelertas/web_scraper/main/flat_data.csv'
df = pd.read_csv(csv_url)
df.head(5)

,Unnamed: 0,id,city,street,object_,area,number_of_rooms,floors,floor,price_per_square_m,total_price,description,links_to_img,build_year,heating,furnishment,building,operation,created_at
0,0,128,Palangos m.,Genio g.,Butas,40.04,2,2,2,3596.40,144000.0,NaN,https://www.realu.lt/image/cache/estates/2023/...,2021,Mūrinis,Pilnai įrengtas,Pardavimas,NaN,2023-01-24 16:31:27.266095+00:00
1,1,129,Vilniaus m.,Olandų g.,Butas,33.70,2,5,4,2077.15,70000.0,"PARDUODAMAS 2 KAMBARIŲ, 33.70 KV.M BUTAS - OLA...",https://www.realu.lt/image/cache/estates/2023/...,1972,Centrinis,Tvarkingas,Mūrinis,Pardavimas,2023-01-24 16:31:27.268695+00:00
2,2,130,Vilniaus m.,Viršuliškių g.,Butas,63.91,3,9,6,1689.88,108000.0,NaN,https://www.realu.lt/image/cache/estates/2023/...,1977,Blokinis,Centrinis,Pardavimas,NaN,2023-01-24 16:31:27.270952+00:00
3,3,131,Vilniaus m.,Kalvarijų g.,Butas,43.00,2,5,5,2162.79,93000.0,"PARDUODAMAS 43.00 KV.M, 2 KAMBARIŲ BUTAS - ŠNI...",https://www.realu.lt/image/cache/estates/2023/...,1964,Centrinis,Tvarkingas,Blokinis,Pardavimas,2023-01-24 16:31:27.273321+00:00
4,4,132,Vilniaus m.,Vido Maciulevičiaus g.,Butas,68.80,3,9,5,1742.73,119900.0,PARDUODAMAS ŠILTAS 3 KAMBARIŲ BUTAS SU RŪSIU!P...,https://www.realu.lt/image/cache/estates/2023/...,1972,Centrinis,Tvarkingas,Blokinis,Pardavimas,2023-01-24 16:31:27.275733+00:00